<mat-expansion-panel hideToggle *ngIf="doggo" [doggoDirective]="this.doggo.status">
    <mat-expansion-panel-header>
      <mat-checkbox [checked]="this.doggo.status" (change)="changeStatus()"></mat-checkbox>
      <mat-panel-title [ngClass] = "{'completed' : this.doggo.status}">
        {{ doggo.breed | uppercase}}
      </mat-panel-title>
    </mat-expansion-panel-header>
   <p>{{ doggo.description }}</p>
   <p>{{ doggo.value | currency }}</p>
   <p>{{ doggo.value | value }}</p>

   <button mat-stroked-button color="primary" (click)="openDialog()">Update</button>
   <button mat-stroked-button color="warn" (click)="deleteItem()">Remove</button>
</mat-expansion-panel>